<br/>
<br/>
<br/>
<form>
    <div class="form-group">
        <label for="inputUserName">Username</label>
        <input class="form-control" placeholder="Login Username"
               type="text" id="inputUserName" />
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input class="form-control" placeholder="Login Password"
               type="password" id="inputPassword" />
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>